
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url('../fonts/TTFirsNeue-Bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url('../fonts/TTFirsNeue-Medium.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'TTFirsNeue';
  src: url('../fonts/TTFirsNeue-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
